html {
	background-color: #ecf0f1;
	height: 100%;
	width: 100%;
}

body {
	font-size: 16px;
}

h1.main-title {
	font-family: 'Lily Script One', cursive;
	color: #c0392b;
	font-size: 4em;
	text-align: center;
	margin: 0;
}

h2#countdown {
	font-family: 'Lily Script One', cursive;
	color: #27ae60;
	font-size: 2.5em;
	text-align: center;
	margin-top: 2px;
}


div#sign_in {
	background-color: #7DB8E5;
	border-radius: 10px;
	display: inline-block;
	float: left;
	min-width: 30%;
	min-height: 275px;
	margin-left: 10%;
	margin-right: 10%;
	box-shadow: 0px 0px 10px 2px rgba(151, 151, 151, 0.6);
	-moz-box-shadow: 0px 0px 10px 2px rgba(151, 151, 151, 0.6);
	-webkit-box-shadow: 0px 0px 10px 2px rgba(151, 151, 151, 0.6);
}

div#sign_up {
	background-color: #7DB8E5;
	border-radius: 10px;
	display: inline-block;
	float: right;
	min-width: 30%;
	min-height: 275px;
	margin-left: 10%;
	margin-right: 10%;
	box-shadow: 0px 0px 10px 2px rgba(151, 151, 151, 0.6);
	-moz-box-shadow: 0px 0px 10px 2px rgba(151, 151, 151, 0.6);
	-webkit-box-shadow: 0px 0px 10px 2px rgba(151, 151, 151, 0.6);
}

h3.sign_up_sign_in {
	font-family: 'Lily Script One', cursive;
	text-align: center;
	margin: 0;
	margin-top: .4em;
}

form {
	margin-top: 3%;
	font-family: 'Lily Script One', cursive;
	text-align: center;
}

input.form_field {
	width: 80%;
}

input#item_item {
	width: 75%;
}

label {
	float: left;
	margin-left: 5%;
}

.error_flash {
	font-family: 'Lily Script One', cursive;
	color: #c0392b;
	margin-left: 5%;
}

.lists {
	background-color: #27ae60;	
	border-radius: 10px;
	padding: 2px;
	width: 75%;
	min-height: 145px;
	margin-top: 2%;
	margin-right: auto;
	margin-bottom: 2%;
	margin-left: auto;
	display: block;
	box-shadow: 0px 0px 10px 2px rgba(151, 151, 151, 0.6);
	-moz-box-shadow: 0px 0px 10px 2px rgba(151, 151, 151, 0.6);
	-webkit-box-shadow: 0px 0px 10px 2px rgba(151, 151, 151, 0.6);
}

h2.list-title {
	font-family: 'Lily Script One', cursive;
	text-align: center;
}


h4.list-placeholder {
	text-align: center;
}

ul.christmas-list {
	list-style-type: none;
}

p.create-list {
	text-align: center;
}

p.create-list a {
	color: #ecf0f1;
	font-size: 1.5em;
}