body.index-index {
	.center-block {
		padding: 1rem;

		#intro-text {
			background: rgba(236, 236, 236, 0.7);
			padding: 1rem;
		}

		.index-form {
			background: rgba(30, 130, 76, 0.7); 
			padding: 1rem;
			margin-bottom: 2rem;
		}
	}
}